{{!-- 由於 errors 是一組陣列，需要在 views/partials/message.hbs 中增加一段邏輯，使用迴圈來印出訊息： --}}
{{#if errors}}
  {{#each errors}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ this.message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
      </button>
    </div>
  {{/each}}
{{/if}}

{{#if success_msg}}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{{success_msg}}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
{{/if}}

{{#if warning_msg}}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{{warning_msg}}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
{{/if}}